body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  padding: 50px;
  background: url(../img/game_table.jpg);
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
  grid-template-rows: auto auto auto auto;
  gap: 10px 10px;
  grid-template-areas:
    "A K Q J _10 _9 _8 _7 _6"
    "_A _K _Q _J __10 __9 __8 __7 __6"
    "__A __K __Q __J ___10 ___9 ___8 ___7 ___6"
    "___A ___K ___Q ___J ____10 ____9 ____8 ____7 ____6";
}


.card_container {
  display: inline-block;
  width: 150px;
  height: 218px;
  position: relative;
  perspective: 600;
  cursor: pointer;

  .card {
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;

    .back_side {
      width: 150px;
      height: 218px;
      background: url(../img/back_card.png) no-repeat;
      background-position: center;
      background-size: 100%;
      position: absolute;
      backface-visibility: hidden;
      overflow: hidden;
    }

    .face_side {
      transform: rotateY(180deg);
    }
  }

  .card:hover {
    transform: rotateY(180deg);
  }
}